{% extends "layout.twig" %}

{% block title %}
Coxeter group ${{ group.name | default('-') }}$
{% endblock %}

{% block content %}

<table class="table table-bordered table-striped">
<tbody>
    <tr>
	    <td>Name</td>
	    <td>${{ group.name | default('-') }}$</td>
    </tr>
    <tr>
	    <td>Rank</td>
	    <td>{{ group.rank }}</td>
    </tr>
    <tr>
        <td>Size</td>
        <td>{{ group.size > 0 ? group.size : '$\\infty$' }}</td>
    </tr>
    <tr>
	    <td>Coxetermatrix</td>
	    <td>
	        $ \begin{pmatrix}
	        {% if group.rank == 1 %}
	            1
	        {% else %}
	            {% for i in range(0, group.rank - 1) %}
	                {% for j in range(0, group.rank - 2) %}
	                   {{ group.matrix[i][j] > 0 ? group.matrix[i][j] : '\\infty' }} &
	                {% endfor %}
	                {{ group.matrix[i][group.rank - 1] > 0 ? group.matrix[i][group.rank - 1] : '\\infty' }} \\
	            {% endfor %}
	        {% endif %}
	        \end{pmatrix} $
	    </td>
    </tr>
    <tr>
	    <td>Automorphisms</td>
	    <td>
		    {% for automorphism in automorphisms %}
		        <ul>
		            <li>
		                <p>$\theta = {{ automorphism.display_name }}$</p>
		                <p>$|Wk(\theta, W)| = {{ automorphism.wk_size > 0 ? automorphism.wk_size : '\\infty' }}$</p>
		                <p>$\max_{w \in W} \rho(w) = {{ automorphism.wk_max_length > 0 ? automorphism.wk_max_length : '\\infty' }}$</p>
		                <p><a href="/weakordering/{{ automorphism.id }}">Show weak ordering</a></p>
		            </li>
		        </ul>
		    {% else %}
		        -
		    {% endfor %}
	    </td>
    </tr>
</tbody>
</table>
{% endblock %}